/* The overall calculator body */
.calc {
	width: 100%;
	border-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 1px 1px 5px 0 #333;
	background-color: transparent;
}

.calc-display-container {
	position: relative;
	width: 100%;
	height: 2em;
	font-size: 2em;
	background-color: #333;
}

.calc-display {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
	font-size: 1em;
	line-height: 2em;
	padding: 0 .5em;
	box-sizing: border-box;
	color: white;
	background: transparent;
	font-family: "Courier New", "Courier", monospace;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calc-display-input {
	text-decoration: underline;
	text-decoration-color: rgba(256, 256, 256, .3);
}

.calc-keys {
	width: 100%;
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
}

.calc-keys tr {
	border: none;
}

.calc-keys td {
	padding: 2px;
	border: 1px solid #333;
	background-color: #f9f9f9;
}

.calc-keys td button {
	display: table-cell;
	width: 100%;
	height: 100%;

	color:#333;

	font-size: 1.5em;

	border: 0;
	border-radius: 0;
	padding: 10px;
	
	cursor: pointer;
	background-color: transparent;
	user-select: none;
	-webkit-user-select: none;
	font-weight: bold;
}

.calc-keys td:hover {
	background-color: #eee;
}

.calc-keys td:active {
	background-color: #ddd;
}

.calc-output-container {
	width: 100%;
	text-align: center;
}

.calc-output {
	display: inline-block;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 1.5em;
	color: #444;
	background: rgba(250, 250, 250, .5);
	margin: .5em 0;
	padding: 0 .5em;
	text-align: center;
	font-weight: bold;
}